.cover-image{
  position: relative;
  height: 300px;
  width: 100%;
  /*object-fit: contain */
  opacity: 0.5;
}

.logo{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 140px;
    left: 45%;
    box-sizing: border-box;
}

.logo--title{
    display: flex;
    gap: 20px;
    top: 116px;
    left: 49%;
    position: absolute;
    box-sizing: border-box;
}


.input--search{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    top: 30%;
    left: 42%;
    position: absolute;
}

.card--component {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px 6px;
    float: left;
    height: 300px;
    width: 20%;
    transition: 0.3s;
    border-radius: 5px;
    justify-content: center;
    /*padding: 50px;*/
    margin: 20px;
    position: relative;
  }
  
.card--component:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.img {
    border-radius: 5px 5px 0 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px
  }

.title{
  font-size: medium;
  position: absolute;
  overflow: hidden;
}
  
.container {
    padding: 2px 16px
  }

.buttons{
    display: flex;
    justify-content: space-between;
}

.ingredients{
    background-color: green;
    border: none;
}

@media screen and (max-width: 400px) {
  body {
    background-color: lightgreen;
  }
}